/* Place CSS styles here */
.star-group {
    width: 10px;
    height: auto;
}

.snoopy-wrapper {
    width: 40px;
    height: auto;
}
.snoopy-wrapper img {
    transform: translate(300px, 50px) scale(-1);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform:translateY(-50px);
    }
    100% {
        transform:translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated-element {
    animation: bounce 1s infinite;
}
